
<div class="main_body">
<header class="header">
<div class="header_cont">
 <div class="left-box"> <a class="hd-lbtn" href="javascript:history.back()"><span>返回</span></a></div>
<div class="header_name">DNS参数</div>
<div class="header_user"><a href="/index/"></a></div>
</div>
</header>

<div class="msg-err" style="opacity: 1;-webkit-animation:shake 0.5s linear 0s;">请先选择设置项目</div>
<section class="wap_login">	
	<hr>
	
  <form role="form" ng-submit="login()">
    <p>
      请选择设置项目
      <select ng-model="selectedOrg" ng-options="obj.Organization for obj in project" class="input-common placeholder" class="input-common placeholder" class="input-common placeholder" ></select>
      
    <input name="para1 " id="para1" type="text" class="input-common placeholder" placeholder="请输入参数1" ng-model="formData.para1"  />
    <input name="para2 " id="para2" type="text" class="input-common placeholder" placeholder="请输入参数2" ng-model="formData.para2"  />
    
  
    
    <input type="submit" name="submit" value="设置" class="btn-large" />
  </form>
  
  
 
</section>
<nav class="footer_nav">

<a href="javascript:window.scrollTo(0,0);">TOP</a><a href="#/index">首页</a> &nbsp;-<a href="">{{username}}</a>
</nav>
<div ng-include="'tpls/footer.htm'"></div>
</div>



